.navbar-wrapper {
    top: 0;
    left: 0;
    right: 0;
    z-index:10;
}

.navbar{
    background: rgba(0,0,0,.25);
}

.nav-link a:link,
.nav-link a:visited,
.nav-link a:hover,
.nav-link a:active
{
    font-family: 'Inter', sans-serif;
    padding: 0px 10px;
	color: white;
}

li{
	margin-left:25px;
}

#carouselControls{
    margin-top: 0px;
}

#logo-text{
    font-family: 'Inter', sans-serif;
}
