.navbar-wrapper {
    top: 0;
    left: 0;
    right: 0;
    z-index:10;
}

.navbar{
    background: transparent;
}

.nav-link{
    font-family: 'Inter', sans-serif;
    padding: 0px 10px;
}

.navbar-brand{

    font-weight: 500;
    background: -webkit-linear-gradient(0.3turn, #0080ff, rgb(80, 78, 78));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#carouselControls{
    margin-top: 0px;
}

#logo-text{
    font-family: 'Inter', sans-serif;
}