@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body{
    overflow-x:hidden;
    font-family: 'Inter', sans-serif;
}
svg{
    height: 450px;
}

.svg-div{
    padding: 5%;
}

.description{
    padding: 15%;
    /*color: #fff;*/
}
.future{
    font-family: 'Proxima Nova', sans-serif;
    color: rgb(105, 100, 100);
}

.learn{
    border-radius: 40px;
    padding: .6% 6% 1% 6%;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

.learn:hover{
    border: 2px solid;
}

.description-1{
    padding: 10% !important;
}


.svg-div-1 svg{
    width: 900px;
}
.description-2{
    padding:5%;
    margin-right: 30px;
}


.card {
    font-family: "Inter", sans-serif;
}

.card .btn {
    border: 2px solid !important;
    margin-left: 0px !important;
    border-radius: 0px !important;
}

.card .btn:hover {
    border: 2px solid;
    color: #fff;
    background: #000;
    border-radius: 0px !important;
}